<%= form_for [@product, @comment], remote: true do |f| %>
  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
